@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Great+Vibes&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .common{
        @apply bg-black text-white h-screen w-screen
    }
    .active-link {
        @apply border-b-2 pb-1 border-[#3e9e9e] duration-200 text-[#3e9e9e] md:text-xl
    }
    .nav-item {
        @apply cursor-pointer hover:text-[#3e9e9e] duration-100 md:text-2xl flex flex-col items-center justify-center;
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

body{
    background-color: black; 
    color: white;
}